In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
 
from matplotlib import pyplot as plt
 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.datasets import fetch_california_housing

In [9]:
california_housing = fetch_california_housing(as_frame=True)

### 1. Получить данные и загрузить их в выборочную среду

In [10]:
df = california_housing.frame
df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

### 2. Проверить данные на наличие пропусков и удалить их в случае обнаржуения

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MedInc       20640 non-null  float64
 1   HouseAge     20640 non-null  float64
 2   AveRooms     20640 non-null  float64
 3   AveBedrms    20640 non-null  float64
 4   Population   20640 non-null  float64
 5   AveOccup     20640 non-null  float64
 6   Latitude     20640 non-null  float64
 7   Longitude    20640 non-null  float64
 8   MedHouseVal  20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB

In [16]:
df.isna().sum()

MedInc         0
HouseAge       0
AveRooms       0
AveBedrms      0
Population     0
AveOccup       0
Latitude       0
Longitude      0
MedHouseVal    0
dtype: int64

In [17]:
# Данные не содержат пропусков, удалять ничего не нужно

### 3.Разделите выборку на обучающее и тестовое подмножества. 80% данных оставить на обучющее множество, 20% - на тестовое

In [21]:
from sklearn.preprocessing import LabelEncoder

In [34]:
X = df[list(df.columns)[:-1]]
X
y = df[list(df.columns)[-1]]
y

0        4.526
1        3.585
2        3.521
3        3.413
4        3.422
         ...
20635    0.781
20636    0.771
20637    0.923
20638    0.847
20639    0.894
Name: MedHouseVal, Length: 20640, dtype: float64

In [39]:
X_train, X_test,y_train, y_test = train_test_split(X, y,test_size=0.3, random_state=42 )
model = LinearRegression().fit(X_train,y_train)
model.score(X_test,y_test)

0.5957702326061667

### 4.Постройте модель линейной регрессии. Вычислите метрики RMSE, R2 на обучающем и тестовом множестве

In [40]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import

In [48]:
# Вычислить RMSE для для тренировочных данных
rmse = mean_squared_error(model.predict(X_train),y_train,squared=False)
rmse

0.7234346057708156

In [49]:
# Вычислить RMSE для для тестовых данных
rmse = mean_squared_error(model.predict(X_test),y_test,squared=False)
rmse

0.7284008391515449

In [50]:
# Вычислить коэффициент детерминации для тестовых данных
model.score(X_test,y_test)

0.5957702326061667

In [51]:
# Вычислить коэффициент детерминации для тестовых данных
model.score(X_train,y_train)

0.609345972797216